django
django-jinja
django-session-security
django-guardian
django-crispy-forms
django-huey
django-redis
django-cors-headers
crispy-bootstrap5
oauthlib
requests-oauthlib
gunicorn
psycopg2-binary
pendulum
pandas
pandas-ta
openpyxl
oandapyV20
redis
notifiers
yfinance